<div class="dashboard-container">
  <h2>Mis Dispositivos</h2>

  <!-- Usamos mat-list para la lista de dispositivos -->
  <mat-list>
    <mat-list-item *ngFor="let device of devices" class="device-item">
      <div class="device-info">

        <span matListItemTitle class="device-name">{{ device.name }}</span>
        <span matListItemLine class="device-type" >{{ device.type || 'Tipo de dispositivo' }}</span>

        <button mat-button [routerLink]="['/device', device.deviceId]">Ver detalles</button>
      </div>
      
    </mat-list-item>
  </mat-list>
</div>



