mat-toolbar {
    display: flex;
    justify-content: space-between; /* Esto distribuye los elementos de manera equitativa */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .spacer {
    flex: 1 1 auto; /* Esto empuja los botones hacia la derecha */
  }
  
  .example-icon {
    margin-left: 8px; /* Agrega un pequeño margen entre los botones */
    margin-right: 8px; /* Para que haya separación en ambos lados del botón */
  }
  
  mat-icon {
    margin-left: 5px; /* Opcional: espacio entre el texto y el icono */
  }
  